<!DOCTYPE html>
<html>
  <head>
    <title>Game Sales</title>
    <link rel="stylesheet" href="style.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
  </head>

  <body>
    <div class="logo">
      <img src="https://lh3.googleusercontent.com/d/1qetwjkVpj9W1lQ9eKt-7x5XrohVH9EZ0" width="400">
      <div>Powered by <a href="https://www.cheapshark.com" target="_blank" class="link">cheapshark.com</a></div>
    </div>
    <div class="newsearch"><a class="link" href="/search">[New Search]</a></div><br>
    <%= yield %>
  </body>
</html>
