<div>
  <label for="store">Choose a store:</label>
  <select name="store" id="store">
    <option value="Steam">Steam</option>
    <option value="GOG">GOG</option>
    <option value="Green Man Gaming">Green Man Gaming</option>
  </select>
</div>
