<div class="optionbox">

  <div class="label">
    <label for="store">Store:</label>
  </div>
  <div class="option">
    <select name="store" id="store">
      <option value="Steam">Steam</option>
      <option value="GOG">GOG</option>
      <option value="Green Man Gaming">Green Man Gaming</option>
    </select>
  </div>

</div>

<div class="optionbox">
  <div class="label">
    test
  </div>
  <div class="option">
    test
  </div>
</div>
