<form action="/deals">

  <div class="container">
    <div class="optionscontainer">
      <div class="labels">
        <label for="store">Store:</label><br>
        <label for="lowerprice">Minimum Price:</label><br>
        <label for="upperprice">Maximum Price:</label><br>
        <label for="metacritic">Min. Metacritic Score:</label><br>
        <label for="AAA">AAA Games Only:</label><br>
        <label for="title">Must Contain:</label><br>
      </div>

      <div class="options">
        <select name="store" id="store">
          <option value="Steam">Steam</option>
          <option value="GamersGate">GamersGate</option>
          <option value="GOG">GOG</option>
          <option value="Origin">Origin</option>
          <option value="Humble Store">Humble Store</option>
          <option value="Uplay">Uplay</option>
          <option value="Fanatical">Fanatical</option>
          <option value="WinGameStore">WinGameStore</option>
          <option value="GameBillet">GameBillet</option>
          <option value="Epic Games Store">Epic Games Store</option>
          <option value="Gamesplanet">Gamesplanet</option>
          <option value="IndieGala">IndieGala</option>
        </select><br>

        <input type="text" id="lowerprice" name="lowerprice" size=14 value=0><br>
        <input type="text" id="upperprice" name="upperprice" size=14 value=15><br>
        <input type="text" id="metacritic" name="metacritic" size=14 value=80><br>
        <input type="checkbox" id="AAA" name="AAA" value="yes" checked><br>
        <input type="text" id="title" name="title" placeholder="Batman, Tetris, etc." style="font-style:italic" size=14><br>
      </div>
    </div>
  
    <button>Search</button>
  </div>

  <input type="hidden" id="pagenumber" name="pagenumber" value="0">
</form>
