* {
  /* border: 1px red dashed; */
}

html {
  min-height: 100%;
}

body {
  background-color: rgba(0, 0, 0, 0.847);
}

.optionbox {
  max-width: 400px;
  margin: 0 auto;
  background-color: green;
  font-size: 18px;
  display: flex
}

.label {
  width: 180px;
  text-align: right;
  margin: 5px 5px;
}

.option {
  width: 200px;
  text-align: left;
  margin: 5px 5px;
}

.search {
  margin: 5px auto;
}

.dealcontainer {
  max-width: 500px;
  margin: 0 auto;
  padding: 10px 10px;
  background: linear-gradient(120deg, #ffe902, #ffe105, #ffd90a, #ffd110, #ffc915, #ffc11b, #ffb920, #ffb124);
  justify-content: space-around;
  border-radius: 10px;
}

.titlecontainer {
  display: flex;
}

.thumbnail {
  padding: 5px 5px 0px 5px;
}

.title {
  margin: auto auto;
  padding-right: 60px;
  font-size: 18px;
  font-weight: bold;
}

.data{
  display: flex;
  justify-content: space-around;
  padding: 0px 40px;
  text-align: right;
}

.price {
  text-decoration: line-through;
  color: red;
}

.bold {
  font-weight: bold;
}

.pages {
  font-size: 20px;
  color: white;
  text-align: center;
}
