* {
  border: 1px red dashed;
}

html {
  /* makes the body fill the height of the window */
  min-height: 100%;
}

.optionbox {
  max-width: 400px;
  margin: 0 auto;
  background-color: green;
  font-size: 18px;
  display: flex
}

.label {
  width: 180px;
  text-align: right;
  margin: 5px 5px;
}

.option {
  width: 200px;
  text-align: left;
  margin: 5px 5px;
}

.search {
  margin: 5px auto;
}

.dealcontainer {
  max-width: 600px;
  margin: 0 auto;
  background-color: rgb(220, 198, 71);
  justify-content: space-around;
}

.titlecontainer {
  display: flex;
}

.thumbnail {
  padding: 5px 5px 0px 5px;
}

.title {
  margin: auto auto;
  padding-right: 60px;
  font-size: 20px;
}

.data{
  display: flex;
}

.steamlabel {
  text-align: right;
  margin: 5px 5px;
}

.steamdata {
  text-align: right;
  margin: 5px 5px;
}

.price1 {
  text-decoration: line-through;
  color: red;
}

.price2 {
  font-weight: bold;
}
